@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

$titles: 2em;
$subTitles: 1.8em;
$normal: 1.5em;

.container {
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
        margin: 10px;
        font-size: $titles;
    }
    & li {
        color: #FFF;
        display: inline-flex;
        font-size: $subTitles;
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        cursor: pointer;
    }
}

.hangmanOutput {
  & .win {
    display: flex;
    flex-direction: column;  
    color: #0464EF;
    font-weight: 900;
    & p {
      align-self: center;
      margin: 0;
    }
    &_little {
      color: black;
      font-weight: 400;
      font-size: 0.6em;
      font-style: italic;
    }
  }
}

.gameOutput {
    font-size: $normal;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: auto;
    height: 200px;
    align-items: center;
}

.letters {
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: space-between;
    & p {
      font-weight: 900;
      padding: 0px 5px;
    }
}

.keyboard {
    flex-basis: auto;
    height: 220px;
    align-items: center;
    margin: 1em;
    font-size: $normal;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    & li {
        cursor: pointer;
        margin: 2px 5px;
        padding: 2px 8px;
        border: solid black 1px;
        border-radius: .2em;
        box-shadow: 0px 0px 5px #7C7C7C;
    }
  & .clicked {
    display: none;
  }
  & .clickable {
    display: flex;
  }
}




/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    top: 36px;
    left: initial;
    right: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #000;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #FFF;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  div.bm-menu {
    overflow: hidden !important;
  }
  .bm-menu {
    background: #000000;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: (0, 0, 0, 0.3);
  }